:root {
  --grey: #eff1f6;
  --light-grey: #f6f9ff;
}

body {
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
}

.primary-btn {
  height: 40px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

ul {
  padding: 0;
  list-style-type: none;
}
